body{
    font-family: 'Manrope', sans-serif; 
    font-family: 'Roboto', sans-serif;
    /*background-color: #11001C;*/
}
a{
    text-decoration: none;
}
.nav-bar{
    background-color: #3D0066;
    padding: 23px;
    margin-right: 1000px;
    border-radius: 0px 40px 40px 0px;
    font-family: 'Manrope', sans-serif;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}
.nav-bar li{
    color: white;
    margin-left: 40px;
}
.nav-bar :hover{
    color: rgb(204, 204, 204);
}